/*.comment .container {
    padding: 25px;
    position: fixed;
    left: 25%;
}*/
.comment li.ui-state-default{
    background:#fff0;
    border:none;
    border-bottom:1px solid #ddd;
    text-align: left;
    padding-bottom: 10px;
}

.comment li.ui-state-default:last-child{
    border-bottom:none;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400);
.comment  {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}

.comment  .btn, .comment .form-control,.comment .well {
    border-radius:1px;
    box-shadow:0 0 0;
}

.comment .form-control {
    border-color:#d7d7d7;
}

.comment .btn-primary {
    border-color:transparent;
}

.comment .btn-primary, .comment .list-group-item.active:focus {
    background-color:#4285f4;
} 

.comment .btn-plus {
    background-color:#ffffff;
    border-width:1px;
    border-color:#dddddd;
    box-shadow:1px 1px 0 #999999;
    border-radius:3px;color:#666666;
    text-shadow:0 0 1px #bbbbbb;
}

.comment .well, .comment .panel {
    border-color:#d2d2d2;
    box-shadow:0 1px 0 #cfcfcf;
    border-radius:3px;
}

.comment hr {
 border-color:#ececec;
}

.comment button {
 outline: 0;
}

.comment .btn span{
 color:#666666;
}

.comment .list-group-item:first-child, .comment .list-group-item:last-child {
 border-radius:0;
}

.comment h3 { 
 border:0 solid #efefef; 
 border-bottom-width:1px;
 padding-bottom:10px;
}
